<article class="c-article">
  <a href="<%- url_for(post.path) %>" class="c-article__image">
    <img class="has-shadow" src="<%- post.thumbnail || '/images/bg-aftercodecs.jpg' %>" alt="<%= post.title %>">
  </a>
  <div class="c-article__content">
    <header class="c-article__header">
      <h2 class="c-article__title"><a href="<%- url_for(post.path) %>"><%= post.title %></a></h2>
      <p class="c-article__meta">
        By <%= post.author %>
        on <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'MMM Do YYYY') %></time>
      </p>
    </header>
    <div class="c-article__excerpt">
      <%- post.excerpt %>
    </div>
    <p class="c-article__link">
      <a href="<%- url_for(post.path) %>"><%= theme.excerpt_link %></a>
    </p>
  </div>
</article>
